[Desktop Entry]
Encoding=UTF-8
Name=Klusters
GenericName=Cluster cutting application
Type=Application
Exec=klusters %u 
Icon=klusters.png
DocPath=klusters/index.html
Comment=
Categories=KDE;Education;Science;
